<div class="videomin">
    <div class="conteinervideo">

        <video class="video" alt="Un Poco De Todo" autoplay muted repeat>
            <source src="./videos/GatosVsPerros.mp4" type="video/mp4">
        </video>

        <div class="hovervideo">
            <video class="video" alt="Un Poco De Todo" autoplay muted repeat>
                <source src="./videos/GatosVsPerros.mp4" type="video/mp4">
            </video>
            <span class="material-icons icon" translate="no">launch</span>
            <div class="controls">
                <span class="material-icons icon-control" translate="no">skip_previous</span>
                <span class="material-icons icon-control" translate="no">play_arrow</span>
                <span class="material-icons icon-control" translate="no">skip_next</span>
            </div>
            <span class="material-icons icon-clear" translate="no">clear</span>
            <div class="timer">00:00 12:00</div>
        </div>

    </div>
    <div class="infovideo">
        <p class="titulo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, dolores?</p>
        <p class="canal">Lorem ipsum dolor sit amet.</p>
    </div>
</div>