<div class="pillbar">
    <ul class="pill-list">
        <li class="pill-item">
            <button class="pill-btn">
              Lorem, ipsum dolor.
            </button>
        </li>
        <li class="pill-item">
            <button class="pill-btn">
              Lorem, i
            </button>
        </li>
        <li class="pill-item">
            <button class="pill-btn">
              Lorem, ipsum 
            </button>
        </li>
        <li class="pill-item">
            <button class="pill-btn">
              Lorem, ip
            </button>
        </li>
        <li class="pill-item">
            <button class="pill-btn">
              Lorem, ipsum do
            </button>
        </li>
        <li class="pill-item">
            <button class="pill-btn">
              Lorem, ipsum dolor asdfa
            </button>
        </li>
        <li class="pill-item">
            <button class="pill-btn">
            Lorem, ipsum dolor sit amet consectetur adipisicing.
          </button>
        </li>
        <li class="pill-item">
            <button class="pill-btn">
          Lorem, ipsum dolor.
        </button>
        </li>
        <li class="pill-item">
            <button class="pill-btn">
        Lorem, ipsum dolor.
      </button>
        </li>
        <li class="pill-item">
            <button class="pill-btn">
      Lorem, ipsum dolor.
    </button>
        </li>
        <li class="pill-item">
            <button class="pill-btn">
    Lorem, ipsum dolor.
  </button>
        </li>
        <li class="pill-item">
            <button class="pill-btn">
  Lorem, ipsum dolor.
</button>
        </li>

    </ul>

</div>