<div class="card">
    <div class="video-sec">
        <img class="gif-video noclic" src="https://i.ytimg.com/an_webp/p8wcahMylD8/mqdefault_6s.webp?du=3000&sqp=COvq-IIG&rs=AOn4CLD-vuq2BafUG8It8nuOxFcWJZOS9g" alt="Un poco de Todo">
        <img class="img-video noclic" src="https://i.ytimg.com/vi/yy2vAippL8Q/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDAZ2cYXoqSdeePD4-dtbNV65w5Dg" alt="Un poco de Todo">

        <div class="overlays">
            <div class="see">
                <img class="invert-cl invert-X" src="./img/mastarde.png" alt="">
                <div class="showlegend">Ver mas tarde</div>
            </div>
            <div class="add">
                <img class="invert-cl" src="./img/list.png" alt="">
                <div class="showlegend">Agregar a la fila</div>
            </div>
            <div class="time">
                10:10
            </div>
        </div>

    </div>
    <div class="description-sec">
        <div class="avatar">
            <img src="https://yt3.ggpht.com/ytc/AAUvwngzvSXFjQJ-XZjG7d5aNpWmBbqqFFvnk8zBIlYZoA=s68-c-k-c0x00ffffff-no-rj" alt="Un poco de todo">
        </div>
        <div class="description">
            <a href="#" class="title"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint cum vero eum tenetur earum vitae autem, maiores temporibus dignissimos commodi repellat, similique reprehenderit?</a>
            <a href="#" class="channel-name"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque, distinctio.</a>
            <div class="video-desc">
                <div class="visitas">3M de vistas •</div>
                <div class="edad-video">hace 2 meses</div>
            </div>
        </div>
        <div class="options">
            <img class="invert-cl options-img" src="./img/options.png" alt="options">
        </div>
    </div>

</div>