<div class="navbar">
    <div class="start">
        <div class="menu-btn">
            <i class="material-icons white noselect">
                menu
            </i>
            <a href="#" class="sidebar-menu-link sidebar--close"></a>
            <a href="#menu" class="sidebar-menu-link sidebar--open"></a>
        </div>

        <button class="logo">
            <div class="img-logo">
                <img src="./img/logo.png" alt="Logo de YouTube">
            </div>
            <p class="yt">YouTube</p>
            
        </button>
        <p class="country">AR</p>
    </div>
    <div class="center">
        <input class="search" type="text" value="" name="search" placeholder="Search">
        <button class="btn-sear">
            <img class="btn-img invert" src="./img/search.png" alt="Buscar">
        </button>
        <div class="voice">
            <button class="mic press">
                <img class="mic-img invert" src="./img/mic.png" alt="Busqueda por voz">
            </button>
        </div>
    </div>
    <div class="end">
        <div class="create">
            <button class="btn-crear btn-options ">
            </button>
            <svg viewBox="0 0 24 24" focusable="false" class="icon-crear">
                <path d="M17 10.5V7c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-3.5l4 4v-11l-4 4zM14 13h-3v3H9v-3H6v-2h3V8h2v3h3v2z" >
                </path>
            </svg>
        </div>

        <div class="apps press">
            <button class="btn-options ">
                <img class="btn-img invert img-app" src="./img/apps.png" alt="Apps">
            </button>
        </div>
        <div class="notificaciones press">
            <button class="btn-options ">
                <img class=" btn-img invert img-noti" src="./img/notifications.png" alt="Notificaciones">
            </button>
            <div class="description-bubble">Notificaciones</div>
        </div>
    </div>
</div>