<aside class="asidebar">
    <ul class="main-menu">
        <li class="option select">
            <span class="material-icons  spacingb">home</span> Principal </li>
        <li class="option select">
            <span class="material-icons spacingb">local_fire_department</span> Tendencias
        </li>
        <li class="option select">
            <span class="material-icons spacingb">subscriptions</span> Suscripciones
        </li>
        <li class="option select">
            <span class="material-icons spacingb">video_library</span> Biblioteca
        </li>
    </ul>
</aside>